:root {
    --main-bg-color: blue;
    --main-text-color: black;
}

body {
    margin: 0;

}

.title {
    width: 100%;
    text-align: center;
}

.canvas{
    display: grid;
    margin: auto;
    border: 1px solid black;
    height: 600px;
    width: 600px;
}

.buttons {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.button {
font-size: 2rem;
border-radius: 100px;
cursor: pointer;
}
